
/* Your CSS Code here. */
/* Your CSS Code here. */
.holder{
    display: flex;
    background-color: lightcoral;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    
   
    flex-wrap: wrap;
    justify-content: space-between;
    
    
    
}

.holder .item{
    margin-top: 50px;
    margin-bottom: 50px;
    height: 200px;
    width: 30vw;
    margin: 43px, 10px;
    background-color: blue;
    
    
    
}
